/* Shared related style */
* {
    margin: 0;
    padding: 0;
}

.azeret-mono-simple {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.section-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 30px;
}

.section-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.description-heading {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    /* 
     */
}

.des-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 10px;
}

/* header related style */
.header-section {
    flex-direction: column;
    height: 650px;
    width: 1260px;
    background-image: url(../assets/Hero-bg.png);
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 100px 200px;
}

.headsection-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}



.header-img {
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px 25px;
    margin-bottom: 15px;
}

/* main section style */
main {
    width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

}

.web-des-section {
    height: 900px;
    width: 1000px;
    padding: 70px 90px;
}

.description-section-card {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;

}

.description-para {
    text-align: left;
    margin: 15px 0px;
}

.short-des {
    width: 450px;
}

/* inspired section style */
.inspiration-section {
    width: 1140px;
    height: 775px;
    margin: 300px;
}
#inspired-style{
    margin: 30px 0px;
}
.youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}